<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h4>Main links</h4>
        <a routerLink="/movies">Movies</a>
        <a routerLink="/shows">Shows</a>
        <a routerLink="/live-tv">Live TV</a>
      </div>
      <div class="footer-section">
        <h4>Other links</h4>
        <a routerLink="/about">About US</a>
      </div>
      <div class="footer-section">
        <h4>KinoMonster</h4>
        <a routerLink="/courses">Our Courses</a>
      </div>
    </div>
  
    <div class="social-media">
      <span>Follow us via social media:</span>
      <div class="icons">
        <a href="#"><img src="youtube.svg" alt="YouTube"></a>
        <a href="#"><img src="facebook.svg" alt="Facebook"></a>
        <a href="#"><img src="instagramm.svg" alt="Instagram"></a>
        <a href="#"><img src="vk.svg" alt="VK"></a>
        <a href="#"><img src="telegramm.svg" alt="Telegram"></a> <!--Убрал assets. Все фото перекинул в public-->
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>© KinoMonster.com All rights reserved.</p>
    </div>
</footer>
  