<main #heroSection>
  <section>
    <ul class="hero">
      <li>
        <img
          class="main-slider-img"
          src="assets/img/hero/fight-club-hero.jpg"
          alt="img"
        />
        <div class="default-container">
          <div class="hero-movie">
            <p>Fight Club</p>
            <p>
              Discontented with his capitalistic lifestyle, a white-collared
              insomniac forms an underground fight club with Tyler
            </p>
            <button>WATCH NOW</button>
          </div>
        </div>
      </li>

      <li>
        <img
          class="main-slider-img"
          src="assets/img/hero/joker.jpg"
          alt="img"
        />
        <div class="default-container">
          <div class="hero-movie">
            <p>Joker</p>
            <p>
              Discontented with his capitalistic lifestyle, a white-collared
              insomniac forms an underground fight club with Tyler
            </p>
            <button (click)="goToMovie()">WATCH NOW</button>
          </div>
        </div>
      </li>

      <li>
        <img
          class="main-slider-img"
          src="assets/img/hero/no-country-for-old-men.jpg"
          alt="img"
        />
        <div class="default-container">
          <div class="hero-movie">
            <p>No Country For Old Men</p>
            <p>
              Discontented with his capitalistic lifestyle, a white-collared
              insomniac forms an underground fight club with Tyler
            </p>
            <button>WATCH NOW</button>
          </div>
        </div>
      </li>

      <li>
        <img
          class="main-slider-img"
          src="assets/img/hero/bladerunner.jpg"
          alt="img"
        />
        <div class="default-container">
          <div class="hero-movie">
            <p>Blade Runner</p>
            <p>
              Discontented with his capitalistic lifestyle, a white-collared
              insomniac forms an underground fight club with Tyler
            </p>
            <button>WATCH NOW</button>
          </div>
        </div>
      </li>
    </ul>

    <div class="default-container">
      <div class="next-main-slider-dots">
        <span class="active"></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="fader-bg">
      <div class="fader-gradient-0"></div>
      <div class="fader-gradient-1"></div>
    </div>
  </section>

  <section class="default-container">
    <p class="lbl-p">On now</p>
    <div class="posters-now">
      <div class="poster-now">
        <img src="assets/img/posters/2/live-with-kelly.jpg" alt="poster-now" />
        <div class="poster-now-lbls">
          <p>S5 E2</p>
          <p>Live with Kelly and Ryan</p>
        </div>
      </div>

      <div class="poster-now">
        <img src="assets/img/posters/2/bbt.jpg" alt="poster-now" />
        <div class="poster-now-lbls">
          <p>S12 E2</p>
          <p>The Big Bang Theory</p>
        </div>
      </div>

      <div class="poster-now">
        <img src="assets/img/posters/2/s-park.jpg" alt="poster-now" />
        <div class="poster-now-lbls">
          <p>S95 E2</p>
          <p>South Park</p>
        </div>
      </div>

      <div class="poster-now">
        <img
          src="assets/img/posters/2/stranger-things-s-3.jpg"
          alt="poster-now"
        />
        <div class="poster-now-lbls">
          <p>S8 E6</p>
          <p>Stranger Things</p>
        </div>
      </div>

      <div class="poster-now">
        <img src="assets/img/posters/2/fclub.jpg" alt="poster-now" />
        <div class="poster-now-lbls">
          <p>MOVIE</p>
          <p>Fight Club</p>
        </div>
      </div>

      <div class="poster-now">
        <img src="assets/img/posters/2/stands.jpg" alt="poster-now" />
        <div class="poster-now-lbls">
          <p>S1 E3</p>
          <p>The Stand</p>
        </div>
      </div>
    </div>
  </section>

  <section class="default-container">
    <p class="lbl-p">Popular Shows And Movies</p>
    <div class="posters">
      <div class="poster">
        <img src="assets/img/posters/1/stranger-things.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/friends.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/mand.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/free-guy.jpg" alt="" />
      </div>
      <div class="poster">
        <a href="movie.html"
          ><img src="assets/img/posters/1/joker.jpg" alt=""
        /></a>
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/chernobyl.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/space-sweepers.jpg" alt="" />
      </div>
    </div>
  </section>

  <section class="default-container">
    <p class="lbl-p">Recently Added Shows</p>
    <div class="posters">
      <div class="poster">
        <img src="assets/img/posters/1/shimmer.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/bridgerton.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/queens-gambit.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/dark.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/lucifer.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/shameless.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/the-undoing.jpg" alt="" />
      </div>
    </div>
  </section>

  <section class="default-container">
    <p class="lbl-p">Recently Added Movies</p>
    <div class="posters">
      <div class="poster">
        <img src="assets/img/posters/1/the-trial-of-chicago.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/the-wolf-of-wall-street.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/ww-84.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/fight-club.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/harry-potter.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/holidate.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="assets/img/posters/1/death-on-the-nile.jpg" alt="" />
      </div>
    </div>
  </section>
</main>
