<main #heroSection>
  <section>
    <ul class="hero">
      <li>
        <img
          class="main-slider-img"
          src="fight-club-hero.jpg"
          alt="img"
        />
        <div class="default-container">
          <div class="hero-movie">
            <p>Fight Club</p>
            <p>
              Discontented with his capitalistic lifestyle, a white-collared
              insomniac forms an underground fight club with Tyler
            </p>
            <button>WATCH NOW</button>
          </div>
        </div>
      </li>

      <li>
        <img
          class="main-slider-img"
          src="joker.jpg"
          alt="img"
        />
        <div class="default-container">
          <div class="hero-movie">
            <p>Joker</p>
            <p>
              Discontented with his capitalistic lifestyle, a white-collared
              insomniac forms an underground fight club with Tyler
            </p>
            <button (click)="goToMovie()">WATCH NOW</button>
          </div>
        </div>
      </li>

      <li>
        <img
          class="main-slider-img"
          src="no-country-for-old-men.jpg"
          alt="img"
        />
        <div class="default-container">
          <div class="hero-movie">
            <p>No Country For Old Men</p>
            <p>
              Discontented with his capitalistic lifestyle, a white-collared
              insomniac forms an underground fight club with Tyler
            </p>
            <button>WATCH NOW</button>
          </div>
        </div>
      </li>

      <li>
        <img
          class="main-slider-img"
          src="bladerunner.jpg"
          alt="img"
        /> <!--Убрал assets-->
        <div class="default-container">
          <div class="hero-movie">
            <p>Blade Runner</p>
            <p>
              Discontented with his capitalistic lifestyle, a white-collared
              insomniac forms an underground fight club with Tyler
            </p>
            <button>WATCH NOW</button>
          </div>
        </div>
      </li>
    </ul>

    <div class="default-container">
      <div class="next-main-slider-dots">
        <span class="active"></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="fader-bg">
      <div class="fader-gradient-0"></div>
      <div class="fader-gradient-1"></div>
    </div>
  </section>

  <section class="default-container">
    <p class="lbl-p">On now</p>
    <div class="posters-now">
      <div class="poster-now">
        <img src="live-with-kelly_poster.jpg" alt="poster-now" />
        <div class="poster-now-lbls">
          <p>S5 E2</p>
          <p>Live with Kelly and Ryan</p>
        </div>
      </div>

      <div class="poster-now">
        <img src="bbt_poster.jpg" alt="poster-now" />
        <div class="poster-now-lbls">
          <p>S12 E2</p>
          <p>The Big Bang Theory</p>
        </div>
      </div>

      <div class="poster-now">
        <img src="s-park_poster.jpg" alt="poster-now" />
        <div class="poster-now-lbls">
          <p>S95 E2</p>
          <p>South Park</p>
        </div>
      </div>

      <div class="poster-now">
        <img
          src="stranger-things-s-3_poster.jpg"
          alt="poster-now"
        />
        <div class="poster-now-lbls">
          <p>S8 E6</p>
          <p>Stranger Things</p>
        </div>
      </div>

      <div class="poster-now">
        <img src="fclub_poster.jpg" alt="poster-now" />
        <div class="poster-now-lbls">
          <p>MOVIE</p>
          <p>Fight Club</p>
        </div>
      </div>

      <div class="poster-now">
        <img src="stands_poster.jpg" alt="poster-now" />
        <div class="poster-now-lbls">
          <p>S1 E3</p>
          <p>The Stand</p>
        </div>
      </div>
    </div>
  </section>

  <section class="default-container">
    <p class="lbl-p">Popular Shows And Movies</p>
    <div class="posters">
      <div class="poster">
        <img src="stranger-things_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="friends_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="mand_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="free-guy_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <a href="movie.html"
          ><img src="joker_poster.jpg" alt=""
        /></a>
      </div>
      <div class="poster">
        <img src="chernobyl_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="space-sweepers_poster.jpg" alt="" />
      </div>
    </div>
  </section>

  <section class="default-container">
    <p class="lbl-p">Recently Added Shows</p>
    <div class="posters">
      <div class="poster">
        <img src="shimmer_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="bridgerton_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="queens-gambit_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="dark_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="lucifer_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="shameless_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="the-undoing_poster.jpg" alt="" />
      </div>
    </div>
  </section>

  <section class="default-container">
    <p class="lbl-p">Recently Added Movies</p>
    <div class="posters">
      <div class="poster">
        <img src="the-trial-of-chicago_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="the-wolf-of-wall-street_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="ww-84_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="fight-club_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="harry-potter_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="holidate_poster.jpg" alt="" />
      </div>
      <div class="poster">
        <img src="death-on-the-nile_poster.jpg" alt="" />
      </div>
    </div>
  </section>
</main>
